<div class="tech-btm">
    <h4>Mail Bültenine Abone olun</h4>
    <p>Bloglardan anında haberdar olun </p>
    <form action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" placeholder="E-posta" required="" name="Mail">
        <input type="submit" value="Abone Ol">
    </form>

</div>